@media all and (min-width: 1170px) {
    header {
        background: url(../obrazy/man-1.jpg) no-repeat;
        background-size: cover;
        background-position: center;

    }
    .txt {
        left: 5%;
        top: 30%;
    }
}

@media (min-width:992px) and (max-width:1170px) {
    body {
        height: 150vh;
        overflow-x: hidden;

    }
    header {
        height: 70vh;
        background: #FFF url(../obrazy/man-2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .txt {

        float: right;
        right: 5%;
        top:5%;

    }


} 

@media all and (max-width:992px) {
    body {
        height: 100vh;
        overflow-x: hidden;
    }

    header {
        height: 50vh;
        background: #FFF url(../obrazy/man-1.jpg) no-repeat;
        background-size: cover;
        background-position: center;

    }
    .txt {
        width: 100%;
        top: 100%;
        text-align: center;
        color: #000;



    }