body {
    
    font-family: 'Verdana', sans-serif;
    margin:0;

 
}
header {
    color: #FFF;
    width: 100vw;
    height: 100vh;

}
.txt {
    display: inline-block;
    margin-top: 45vh;
    margin-left: 5vw;
}
 